<!---

    Koodeksi Plugins - HTML Block

    In this file (in the nearby future) will be a baseline plugin - a plugin which will translate Markdown text using a library to HTML.
    Not much in way of features will be provided, as this should be a relatively simple plugin:
        - Markdown text is parsed into baseline paragraphs, links, tables, and other equivalents
        - Headers are determined and merged to be a part of the TOC. This is, for the given time, probably handled as serverside acceptance of clientside data
        - Edit data will be the Markdown text, whileas the view data will only be the HTML markup

-->

<template>
    <div>
        <template v-if="show_edit">

        </template>
        <template v-else>
            <div v-html="html"></div>
        </template>
    </div>
</template>

<script>
    module.exports = {
        props: ["block_id", "show_edit"],
        computed: {
            current_state: function() {
                return this.$store.state.view["block-" + this.block_id.toString()]
            },
            html: function() {
                return this.current_state.view_html;
            }
        }
    }
</script>