<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Koodeksi - <%= @title %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vue_components.css") %>">
  </head>

  <body>
    <div class="kd_init_vibration" id="init_vibration">
    <div class="rect1"></div>
    <div class="rect2"></div>
    <div class="rect3"></div>
    <div class="rect4"></div>
    <div class="rect5"></div>
    <p id="witty_quote"><%= Koodeksi.Utils.WittyQuotes.random_quote() %></p>
    </div>
    <script src="<%= static_path(@conn, "/js/external.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/koodeksi-templates.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/koodeksi-app.js") %>"></script>
    <%= render @view_module, @view_template, assigns %>
    <script>
        window.csrf_token = <%= raw Poison.encode!(Plug.CSRFProtection.get_csrf_token()) %>;
        // Pull in the baseline initialization data
        var user_blob = <%= {:safe, Poison.encode!(Koodeksi.Operations.User.generate_user_json_blob(@uid))} %>;
        var init_data = require("js/infrastructure.js").generateInitialState(window.first_preload, user_blob);
        window.first_preload = null;
    </script>
    <div id="app-hider" style="display: none;">
        <div id="app"></div>
    </div>

    <script>
        require("js/app.js").start(init_data);
        setTimeout(function(){
            document.getElementById("init_vibration").style.display = "none";
            document.getElementById("app-hider").style.display = "block";
        }, 500);
    </script>
  </body>
</html>
