<!--

    Koodeksi - Path Trampoline Subcomponent - Directory Listing

    This component renders a directory list, using the data specified in a preload

-->

<template>
    <div class="single_root_element" id="kd_dirlist_rootdiv">
        <h1>Directory list for {{folder_title}}</h1>
        <div class="content_inline_box kd_danger" v-if="admin_override">
            <p>
                <strong>Administrative override - be careful!</strong>
            </p>
            <p>
                You would not ordinarily be able to access this directory. However, due to your administrative status, access was nevertheless granted. Be very careful with your actions!
            </p>
        </div>
        <div class="content_inline_box kd_warning" v-else-if="may_manage">
            <p>
                <strong>You are the owner of this directory</strong>
            </p>
            <p>
                You are the owner of this directory. You can execute several actions not normally available, like usurping ownership of documents and subdirectories
            </p>
        </div>
        <kd-misc-tablelist view_path="directory_table" style_id="kd_dirlist_table">
            <template slot="name" slot-scope="props">
                <p v-bind:class="{override_highlight: has_overriden_list(props.data.permissions), invisible_highlight: !props.data.ordinarily_visible}">
                    <router-link :to="compose_view_link(props.data.path_slug, props.data.is_document)"><i :class="props.data.is_document ? 'fa fa-file' : 'fa fa-folder'"> </i>{{props.data.title}}</router-link>
                </p>
            </template>
            <template slot="owner" slot-scope="owner_name">
                <p>{{owner_name.data}}</p>
            </template>
            <template slot="actions" slot-scope="props">
                <p>
                    <!-- There are many different kinds of permissions. First, go through the permissions list, check if they are valid as special links or permission icons, and allow them to be clicked; this applies for subdocument-specific features -->
                <template v-for="permission in props.data.permissions">
                    <span v-if="valid_permission_icon(permission, !props.data.is_document) !== null" v-bind:class="{tooltip_element: true, override_highlight: permission.admin_override}"><span class="tooltip_text">{{valid_permission_icon(permission, !props.data.is_document).hint}}</span><i :class="valid_permission_icon(permission, !props.data.is_document).class"></i></span>
                    <router-link v-if="valid_special_link_action(permission, !props.data.is_document) !== null" v-bind:class="{tooltip_element: true, override_highlight: permission.admin_override}" :to="compose_subpath(props.data.path_slug, props.data.is_document, valid_special_link_action(permission, !props.data.is_document).command)"><span class="tooltip_text">{{valid_special_link_action(permission, !props.data.is_document).hint}}</span><i :class="valid_special_link_action(permission, !props.data.is_document).class"></i></router-link>
                </template>
                </p>
            </template>
            <template slot="empty-list">
                <p>There's nothing here for you to see. If you know there should be something, you likely have insufficient permissions to view it.</p>
            </template>
        </kd-misc-tablelist>
        <kd-misc-formbox v-if="may_edit" title="Create new..." form_class="standard_form" view_path="operation_form">
            <label>Title</label>
            <input v-model="title" type="text"/>
            <label>Path slug</label>
            <input v-model="path_slug" type="text"/>
        </kd-misc-formbox>
    </div>
</template>

<script>

    import * as MutationTypes from '../../../../js/document_state/mutation_types';
    import * as PathBuilder from '../../../../js/misc/path_builder'
    module.exports = {
        data: function () {return {folder_title: "", admin_override: false}},
        props: ["preload_data", "simple_slugs"],
        /**
         * We need to get our form scheme established before the component is mounted and rendered. This function does precisely that.
         **/
        beforeMount: function() {
            console.debug("Before mount on DirList..");
            var _this = this;
            const form_data = {
                data: {
                    title: "",
                    path_slug: "",
                    root_dir_id: parseInt(this.preload_data.id) // This component is not loaded if a directory listing is unsuccessful, and therefore we should be able to safely refer to this.
                },
                buttons: {
                    "Create new directory": {
                        class: "kd_primary",
                        enabled: true,
                        block_on_async: true,
                        action: {
                            path: "/json/operations/new_directory",
                            on_success: function(view_path, data) {
                                //_this.$router.go();
                                _this.$emit("soft_reload");
                            }
                        }
                    },
                    "Create new document": {
                        class: "kd_primary",
                        enabled: true,
                        block_on_async: true,
                        action: {
                            path: "/json/operations/new_document",
                            on_success: function(view_path, data) {
                                //_this.$router.go();
                                _this.$emit("soft_reload");
                                //location.reload(true); // There is some interesting difference between a hard and a soft reload, as a soft reload doesn't work properly..?
                            }
                        }
                    }
                }
            };
            this.$store.commit(MutationTypes.RESET_SPECIFIC_VIEW_PATH, {view_path: "operation_form"});
            this.$store.commit(MutationTypes.INITIALIZE_VIEW, {view_path: "operation_form", data: form_data});
        },
        methods: {
            compose_view_link: function(slug, is_document) {
                if (is_document) {
                    return this.compose_subpath(slug, true, "view")
                } else {
                    return this.compose_subpath(slug, false, "list")
                }
            },
            /**
             *
             * Composes an URL for a link, building from path slugs and a command
             *
             * @param slug Final slug for the link, relative to the location of this document
             * @param is_document If this refers to a document
             * @param command Command
             */
            compose_subpath: function(slug, is_document, command) {
                return PathBuilder.slugs_to_url(this.simple_slugs.concat([slug]), command, is_document)
            },
            /**
             * Checks if we have a permission concerning the directory we are listing right now
             * @param type Permission identifier
             **/
            has_self_permission: function(type) {
                for (let i = 0; i < this.preload_data.this_dir_privileges.length; i++) {
                    if (this.preload_data.this_dir_privileges[i].type === type) {
                        return true;
                    }
                }
                return false;
            },
            /**
             * Special check for list override; upon finding the list permission, check if we have an admin override on it, and return the value
             **/
            has_overriden_list: function(permissions) {
                for (let i = 0; i < permissions.length; i++) {
                    if (permissions[i].type === "list") {
                        return permissions[i].admin_override;
                    }
                }
                return false;
            },
            /**
             * Checks if this permission is valid as a permission icon; this doesn't provision a link or any other interactive action, simply a hint that this permission exists.
             * @param permission Permission
             **/
            valid_permission_icon(permission, is_directory) {
                const cases = {
                    list: {
                      hint: "You are allowed to see this item in a listing. If this icon is in a tinted color, it implies this listing is due to a special permission",
                      class: "fa fa-list"
                    },
                    weak_view: {
                        hint: "You are allowed to view this document",
                        class: "fa fa-eye"
                    },
                    strong_view: {
                        hint: "You have an interest in this document, meaning that your right to view it is independent from the right to access this directory. Normally, your ability to access a document is bound to your ability to list its' parent directory",
                        class: "fa fa-check"
                    },
                    view: {
                        hint: "You are allowed to view a directory listing of this directory",
                        class: "fa fa-folder-open"
                    },
                    edit: {
                        hint: is_directory ? "You can add and delete your own files and subdirectories in this directory" : "You can edit this document, either as an owner or due to a specific edit permission",
                        class: "fa fa-edit"
                    }
                };
                return (cases[permission.type] === undefined ? null : cases[permission.type])
            },
            /**
             * Checks if this permission is a valid "special" link action - aka, something that should be displayed on the action list, and is a full link. Returns null if not, otherwise a structure with {hint, command, logo_classes}
             * @param permission
             */
            valid_special_link_action(permission, is_directory) {
                const cases = {
                    manage: {
                        hint: is_directory ? "Manage this directory" : "Manage this document",
                        command: "manage",
                        class: "fa fa-gear"
                    }
                };
                return (cases[permission.type] === undefined ? null : cases[permission.type])
            },
            getFormField: function(field) {
                let _this = this;
                return function(){return _this.$store.state.view.operation_form.data[field]};
            },

            setFormField: function(field) {
                let _this = this;
                return function(val) {
                    _this.$store.commit(MutationTypes.ALTER_VIEW, {view_path: "operation_form", data_func: function(view) {
                            view.data[field] = val;
                            return undefined;
                        }})
                }
            },
        },
        mounted: function() {
            // As we are initially mounted, push the initial table structure to the view. We will later update this
            // structure in response to our actions (e.g removal of elements)
            const table_data = {
                column_defs: [
                    {column_header: "Name", column_slot: "name", sort_func: function(a,b) {return a.title > b.title;}, data_func: function(row) {return {title: row.title, is_document: row.type == "document", ordinarily_visible: row.invisible == false, path_slug: row.path_slug, permissions: row.permissions}}},
                    {column_header: "Owner", column_slot: "owner", sort_func: function(a,b) {return a.owner_name > b.owner_name;}, data_func: function(row) {return row.owner_name}},
                    {column_header: "Permissions and actions", column_slot: "actions",data_func: function(row) {return {path_slug: row.path_slug, is_document: row.type == "document", permissions: row.permissions}}}
                ],
                items: this.preload_data.list
            };
            // Store local folder title
            this.folder_title = this.preload_data.title;
            // Store information about admin override for this folder listing
            this.admin_override = this.preload_data.admin_override;
            // Commit this to Vuex, overriding any previous data that may exist
            this.$store.commit(MutationTypes.RESET_SPECIFIC_VIEW_PATH, {view_path: "directory_table"});
            this.$store.commit(MutationTypes.INITIALIZE_VIEW, {view_path: "directory_table", data: table_data});
        },
        computed: {
            user_properties: function() {
                // As lifted from the signup form; this is also important here, due to the actions admins can do
                let user_data = this.$store.getters.user;
                let data = {superuser: false, logged_in: false};

                if (user_data === null) return data; // A guest, no privileges
                // We are logged in
                data.logged_in = true;
                data.superuser = user_data.admin;
                return data;
            },
            title: {
                get: function() {return (this.getFormField("title"))() },
                set: function(value) {return this.setFormField("title")(value)}
            },
            path_slug: {
                get: function() {return (this.getFormField("path_slug"))() },
                set: function(value) {return this.setFormField("path_slug")(value)}
            },
            /**
             * Checks if the user is allowed to edit the current directory (create new documents and directories, et al)
             */
            may_edit: function() {
                return this.has_self_permission("edit");
            },
            may_manage: function() {
                return this.has_self_permission("manage");
            }
        }
    }
</script>

<style lang="scss">
    #kd_dirlist_rootdiv {
        h1 {
            text-align: center;
        }
    }

    #kd_dirlist_table {
        width: 70%;
        margin: auto;
        p {
            text-align: center;
        }
    }

    .override_highlight {
        color: red;
    }

    .invisible_highlight {
        opacity: 0.9;
    }
</style>