<!--
    Koodeksi - Load Spinner

    A simple component, whose only purpose is to display a pretty spinning animation. It has a few simple CSS elements, nothing more.


-->

<template>
    <div class="kd_load_spinner"></div>
</template>

<script>
    module.exports = {

    }
</script>

<style lang="scss">
    .kd_load_spinner {
        border: 7px solid #0A99FF;
        border-top: 7px solid #1FC7FF;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        animation: loadspin 2s linear infinite;
    }

    @keyframes loadspin {
        0% {transform: rotate(0deg);}
        100% {transform: rotate(360deg);}
    }
</style>