<!--

    Koodeksi - Standard Error Box

    Defines a standardized error box.
    This component should be used as a full-page display box; inline errors should be shown differently.
    It accepts a simple message identifier, and then pulls in the actual messages from a JavaScript file.

-->

<template>
    <div id="kd_std_errorbox" class="single_root_element">
        <div id="std_errorbox_icon"><i v-bind:class="msg_data.icon_class" aria-hidden="true"></i></div>
        <div id="std_errorbox_text">
        <h1>{{msg_data.title}}</h1>
        <p v-for="line in msg_data.blurb">{{line}}</p>
        </div>
    </div>
</template>

<script>
    import * as MutationTypes from '../../../js/document_state/mutation_types';
    import {errors} from '../../../js/misc/error_messages';

    module.exports = {
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.newLoad();
            });
        },

        /**
         * id: Error message identifier
         * reset_breadcrumbs: Wherever all breadcrumbs should be erased
         * subcomponent: If this is true, this component has been placed as a subcomponent and not a top level router view; this slightly changes the initialization procedures, to account for that the vue-router doesn't directly interact with this component
         */
        props: ['id', 'reset_breadcrumbs', 'subcomponent'],
        methods: {
            newLoad: function() {
                let msg = this.msg_data;
                if (this.reset_breadcrumbs === true) this.$store.commit(MutationTypes.RESET_BREADCRUMBS);
                this.$store.commit(MutationTypes.UPDATE_PAGE_TITLE, msg.title);
                this.$store.commit(MutationTypes.SET_HIDE_TOP_MENU, msg.hide_top_menu);
            }
        },
        mounted: function() {
            if (this.subcomponent === true) this.newLoad();
        },
        computed: {
            msg_data: function() {
                const identifier = this.id;
                let data_hash = (errors[identifier] !== undefined) ? errors[identifier] : errors.internalerr;
                // Inject the FontAwesome classes, along with the message-specific class
                return {title: data_hash.title, icon_class: {"fa": true, "fa-5x": true, [data_hash.icon_class]: true}, blurb: data_hash.blurb, hide_top_menu: data_hash.hide_top_menu}
            }
        }
    }
</script>

<style lang="scss">
    #kd_std_errorbox {
        display: flex;
        align-items: center;
        #std_errorbox_icon {
            flex: 0 0 auto;
            padding: 1rem;
        }

        #std_errorbox_text {
            flex: 1 1 auto;
            padding: 1rem;
            overflow-wrap: break-word;
        }
        @media all and (max-width: 699px) {
            flex-direction: column;
        }
    }
</style>