<!--
    Koodeksi - Table List

    A Vuex-based component which tabulates a data structure into several rows, composed of several distinct columns.
    For each named column, a slot will be provided as to allow content to be composed.

    --

    As with other standard Koodeksi components, a tablelist expects to be provided a state path.
    Under that state path (a JS object), it expects to find following:
    ```
    items: [..., data] # A list of items
    column_defs: [..., {column_header: <string>, column_slot: <string>, data_func: <function>, sort_func: <function>}] # A list of columns (from left to right), with a header, column slot (for templating) and a relevant sort function for each column; the sort function should be akin to an one taken by Array.sort(). If it is null, default sort is used
    ```

    There are also special slots "empty-list" and "no-data", which are shown as a single large column if the list is empty, or there is no data (e.g loading)

    The component may also be provided with a distinct ID, which enables special styling
-->

<template>
    <table :id="style_id" :class="style_class">
        <template>
            <template v-if="this.has_valid_path && this.columns.length > 0">
                <tr>
                    <th v-for="(column, cindex) in columns">{{column.column_header}}
                        <template v-if="column.sort_func !== undefined">
                            <span class="fa fa-angle-up" v-on:click="set_ascending(cindex)" v-bind:class="{kd_tablelist_inactive_sort: !is_active_sort(cindex, false)}"></span>
                            <span class="fa fa-angle-down" v-on:click="set_descending(cindex)" v-bind:class="{kd_tablelist_inactive_sort: !is_active_sort(cindex, true)}"></span>
                        </template>
                    </th>
                </tr>
                <template v-if="this.items.length > 0">
                    <tr v-for="item in items">
                        <template v-for="column in columns">
                        <td>
                            <slot :name="column.column_slot" :data="item_method(item, column.data_func)"></slot>
                        </td>
                        </template>
                    </tr>
                </template>
                <template v-else>
                    <tr>
                        <td :colspan="this.columns.length">
                            <slot name="empty-list"></slot>
                        </td>
                    </tr>
                </template>
            </template>
            <template v-else>
                <tr>
                    <td>
                        <slot name="no-data"></slot>
                    </td>
                </tr>
            </template>
        </template>
    </table>
</template>

<script>
    module.exports = {
        data: function() {
          return {
              sort_column_index: null,
              descending: false
          };
        },
        props: ["style_id", "style_class", "view_path"],
        methods: {
            /**
             * Retrieves a special subset of data from a list for a column; this is used to simplify row templates, as one can define special conversion functions for each column
             * @param item Raw data for the item
             * @param method Method to call, or not defined to bypass (act as an identity function)
             **/
           item_method: function(item, method) {
               if (method === null || method === undefined) return item;
               return method(item);
           },
            /**
             * Set a certain item column to ascending sort
             * @param item_column Index of the column
             **/
           set_ascending: function(item_column) {
               this.set_sort(item_column, false);
           },
            /**
             * Set a certain item column to descending sort
             * @param item_column Index of the column
             **/
            set_descending: function(item_column) {
               this.set_sort(item_column, true);
            },
            /**
             * Set a column to sort mode
             * @param column_ind Index of the column
             * @param descending If true, sort from greatest first; otherwise sort from smallest first
             */
            set_sort: function(column_ind, descending) {
                // Assume that a valid path exists; otherwise this function is not reachable from direct user UI interactions
                this.sort_column_index = column_ind;
                this.descending = descending;
            },
            /**
             * Check if some sort type is active for a specified index; returns true if yes, otherwise false
             * @param column_ind Column slot identifier
             * @param descending Are we asking for the descending or ascending arrow
             */
            is_active_sort: function(column_ind, descending) {
                if (this.sort_column_index == null) return false; // It is null, nothing is active
                if (column_ind === this.sort_column_index && this.descending === descending) return true; // OK
                return false;
            }
        },
        computed:  {
            /**
             * Checks if this component has a valid specified path in the view data structure.
             * @returns {boolean}
             */
           has_valid_path: function() {
               // Check if a valid path exists in at least some cursory fashion
               const view_data = this.$store.state.view[this.view_path];
               if (view_data === null || view_data === undefined) return false;
               // Even though this seems to be a non-null, check that items and columndefs also exist
               for (let path of ["items", "column_defs"]) {
                   const item = view_data[path];
                   if (item === undefined || item === null) return false;
               }

               return true; // Okay, this could be valid
           },
            /**
             * Returns columns of this table, or empty if no valid set exists
             * @returns {*}
             */
           columns: function() {
               if (!this.has_valid_path) return []; // Empty header for non-valid paths
               return this.$store.state.view[this.view_path].column_defs;
           },
            /**
             * Returns the list of items for this table, or an empty list if there's no valid path
             * @returns {*}
             */
           items: function() {
               if (!this.has_valid_path) return []; // Empty item list for non-valid paths

               if (this.sort_column_index !== null) {
                   // We want to sort it;
                   let origin = this.$store.state.view[this.view_path].column_defs[this.sort_column_index];
                   let base_sort = (origin.sort_func === undefined || origin.sort_func === null) ? function(a,b) {return a > b;} : origin.sort_func;
                   let sort_func = (this.descending ? function(a,b) {return base_sort(b,a)} : base_sort);
                   // Retain the original array's order
                   return this.$store.state.view[this.view_path].items.slice().sort(sort_func)
               } else {
                   return this.$store.state.view[this.view_path].items;
               }
           }
        }
    }
</script>

<style lang="scss">
    .kd_tablelist_inactive_sort {
        opacity: 0.3;
    }
</style>