<!--
Koodeksi Terminal - kd-terminal-text.vue

This file contains the component for composing text on the screen
-->

<template>
    <div class="kd_terminal_textcontainer">
        <template v-for="item in terminalLines">
            <p v-bind:class="{kd_terminal_textcontainer_bold: item.important}">{{ item.text }}</p>
        </template>
    </div>

</template>
<script>
    Vue.use(Vuex)

    module.exports = {
        props: {
            "term_id": {
                type: String,
                default: ""
            }
        },
        computed: {
            terminalLines: function() {
                var terminal_rows = this.$store.state.terminals[this.term_id];
                if (typeof terminal_rows === "undefined") return []; // Undefined terminal, treat it as empty.

                return terminal_rows; // We've now located our stack of lines, return it
            }
        }
    }
</script>
<style lang="scss">

    .kd_terminal_textcontainer {
        box-sizing: border-box;
        background: #0e1c33;
        color: white;
        font-size: 1rem;
        width: 100%;
        min-height: 3em;
        margin: 0;
        padding: 0.2em;
        p {
            padding: 0.3em;
            margin: 0;
            font-family: inconsolata, monospace;
        }
    }

    .kd_terminal_textcontainer_bold {
        font-weight: 700;
    }
</style>