<!--
Koodeksi Terminal (kd-terminal); a simple JS terminal for Koodeksi purposes.

This is a slightly unusual terminal; it operates using Vuex states, expecting certain mutations and getters to exist
in the store. This unorthodox way of operation is intended to simplify the asynchronous interactions a terminal might very well have, and centralize all that into a central location that is simple to alter
-->

<template>
    <div class="kd_terminal">
        <terminal-text v-bind:term_id="term_id"></terminal-text>
        <div class="kd_terminal_inputcontainer">
            <form v-on:submit.prevent="_input_send">
                <input ref="text_input" placeholder=">" type="input">
            </form>
        </div>
    </div>
</template>

<script>

    import * as ActionTypes from '../../js/document_state/action_types'

    module.exports = {
        components: {
            'terminal-text': require("./terminal-text.vue")
        },

        props: {
          term_id: {
              type: String,
              default: ""
          }
        },
        methods: {
            _input_send: function(val) {
                var row = this.$refs.text_input.value; // Save the string
                this.$refs.text_input.value = ""; // Zero the input line before sending
                this.$store.dispatch(ActionTypes.ENTER_ROW_TO_TERMINAL, {id: this.term_id, line: row})
            }
        }
    }
</script>

<style lang="scss">
    .kd_terminal {
        border: 1px dashed black;
        padding: 0;
    }

    .kd_terminal_inputcontainer {
        form, input  {
            box-sizing: border-box;
            width: 100%;
        }
        width: 100%;
        padding: 0;
        margin: 0;
    }
</style>