<!--

    Koodeksi - Path Trampoline

    This Vue component is effectively the first point of landing for many, if not most content links.
    Its purpose is to retrieve a preload structure (either by itself or via a server preload), analyze it and act as requested

    Primarily, the path trampoline will use spcific subcomponents for its operation. These subcomponents differ a bit
    from the standard "top level" Vue components, as they are not the root of the entire view, and therefore cannot directly utilize callbacks to routing, for example.
    They are also provided a special "preload_data" prop, which contains the prerequisite data for the component to start working from, and "simple_slugs", which contains a list of path slugs leading up to this specific page (no titles, as not required)

    The path trampoline's duty is also to construct the path slug breadcrumbs and the initial title; this is a shared function between all subcomponents, and best therefore implemented here.

-->

<template>
    <div>
        <div v-if="current_error !== null">
            <kd-std_errorbox subcomponent="true" :id="current_error" reset_breadcrumbs="true"></kd-std_errorbox>
        </div>
        <div v-else-if="current_subcomponent == null" class="transparent_align_box">
            <kd-misc-loadspinner id="loadspinner"></kd-misc-loadspinner>
        </div>
        <div v-else>
            <component v-bind:is="current_subcomponent" :preload_data="preload_to_subcomponent" :simple_slugs="simple_slugs" v-on:soft_reload="softReload"></component>
        </div>
    </div>
</template>

<script>
    import * as PathBuilder from '../../../js/misc/path_builder'
    import * as MutationTypes from '../../../js/document_state/mutation_types'
    var listView = require("./directory/dirlist"); // Directory list subcomponent
    var docView = require("./document/view_root"); // Document view subcomponent
    /**
     * When it has been determined that a subcomponent is to be loaded, this function is called. Before assigning the subcomponent, it will use the preload data
     * to set up proper breadcrumb links
     * @param component Subcomponent to load in
     * @param preload_data Full preload data; part of it will be specified as a prop to the subcomponent
     */
    function setSubcomponent(component, preload_data) {
        // Push in new breadcrumbs; start with the root directory
        this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: "Contents", addr: "/content/$list"});
        if (preload_data.slugs.length > 0) {
            // There is something more as well
            let slugs = preload_data.slugs;
            let final_slug = slugs[preload_data.slugs.length - 1];
            let final_command = final_slug["command"];
            let final_title = final_slug["title"];
            let ends_in_directory = final_slug["is_directory"];
            // This is a tidy bit ugly; we need to make an O(n^2) loop of sorts (at least in this primitive implementation) to properly process all slugs
            for (let sublength = 1; sublength <= slugs.length - 1; sublength++) { // Loop according to the final length
                //console.log(JSON.stringify(slugs));
                let slice = slugs.slice(0, sublength).map(function(obj) {return obj.slug;});
                //console.log("Slice");
                //console.log(slice);
                this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: slugs[sublength-1].title, addr: PathBuilder.slugs_to_url(slice, "list", false)});
            }
            // Finally, apply the final path
            let final_slice = slugs.map(function(obj) {return obj.slug;});
            // Set this to our simple slugs-data unit, which contains our path in a simple form
            this.simple_slugs = final_slice;
            this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: final_title, addr: PathBuilder.slugs_to_url(final_slice, final_command, !ends_in_directory)});
        } else {
            this.simple_slugs = [];
        }
        this.preload_to_subcomponent = preload_data.to_preload; // Strip off excess data, and only show the intended preload data to the subcomponent
        this.current_subcomponent = component; // Set the subcomponent in its slot
    }

    /**
     * Main function for the path trampoline; requests the data from the path trampoline, and once received, initializes proper components
     **/
    function processPreloads() {
        this.$store.commit(MutationTypes.RESET_BREADCRUMBS); // Reset all breadcrumbs for start; we'll fill this in later if we successfully determine the destination

        // This method is called at earliest when this Vue component has mounted itself; this implies that all prerequisite preparations have taken place.
        // First, check the state of preloads
        let preload_data = this.$store.state.preload;
        if (this.retrieved_preload == null && preload_data != null) {
            console.debug("Path trampoline found a serverside preload, taking it.");
            this.retrieved_preload = preload_data; // Take the serverside preload
        } else if (this.retrieved_preload == null && preload_data == null) {
            console.debug("Retrieving a new preload..");
            // Allright, we need to retrieve preloads before continuing.
            let _this = this;
            $.ajax({url: "/json/data/resolve_path",
                dataType: "json",
                cache: false,
                type: "get",
                data: {"path": this.subpath}
            })
            .done(function(data) {
                _this.retrieved_preload = data;
                _this.processPreloads();
            })
            .fail(function() {
                _this.current_error = "service_unavailable"; // We were unable to retrieve data
            });

            return; // We will call this method again once the jQuery method finishes
        }
        // Now, check where we are supposed to go.
        switch (this.retrieved_preload.result) {
            case "notfound":
                this.current_error = "notfound";
                break;
            case "denied":
                this.current_error = "unauthorized";
                break;
            case "error":
                this.current_error = "internalerr";
                break;
            // Error cases are handled; now set subcomponents if a route matches
            case "dir_list":
                setSubcomponent.call(this, listView, this.retrieved_preload); // NOTE - Must use "call", to preserve the proper "this" value!
                break;
            case "doc_view":
                setSubcomponent.call(this, docView, this.retrieved_preload);
        }
    }

    /**
     * Sometimes we need to do a soft reload; this function simply resets the state, and re-requests the data from the path trampoline
     */
    function softReload() {
        console.debug("Triggered soft reload...");
        Vue.set(this.$store.state, "preload", null);

        this.current_subcomponent = null;
        this.preload_to_subcomponent = null;
        this.retrieved_preload = null;
        this.current_error = null;
        this.simple_slugs = null;

        this.processPreloads(); // After resetting, rerun preloads
    }

    module.exports = {
        data: function() {
            return {current_subcomponent: null, preload_to_subcomponent: null, retrieved_preload: null, current_error: null, simple_slugs: null};
        },
        props: ["subpath"],
        methods: {
            "processPreloads": processPreloads,
            "softReload": softReload
        },
        mounted: processPreloads,
        watch: {
            subpath: function(newVal, oldVal) {
                this.current_subcomponent = null;
                this.preload_to_subcomponent = null;
                this.retrieved_preload = null;
                this.current_error = null;
                this.simple_slugs = null;

                this.processPreloads(); // After resetting, rerun preloads
            }
        }
    }
</script>

<style lang="scss">
    #loadspinner {
        margin: auto;
        margin-top: 3rem;
    }
</style>