<!--

    Koodeksi - Document Block Container

    This component is a container, which holds inside a variety of plugin-bound components.
    In addition to providing a position for plugin components, its duties include rendering controls
    shared between components

    This component will communicate with its parent by means of events, and shall also receive transaction events from its
    subcomponents; the format of which will be as follows:
    {
        transaction_type: < -- see view_root --; may not be any of the standard transactions if sent by plugin components>
        id: <relevant block ID, if applicable; may be a provisional ID>
        ext_data: {} # Data that is to be sent
        send_edit_data: <true | false> # If edit_XXXXX keys are to be sent
    }

    Subcomponents will be provided with following:
    {
        block_id: <block identifier which describes the block>
        show_edit: <true | false> # If true, the user wants to edit this block; if so, edit mode should be assumed
    }

-->

<template>
    <div v-observe-visibility="visibility_changed" class="block_align_box" v-bind:class="{show_dotted_border: this.edit_opts_visible}">
        <template v-if="loaded">
            <component v-bind:is="component_name" :block_id="block_id" :show_edit="edit_component"></component>
        </template>
    </div>
</template>

<script>
    module.exports = {
        data: function() {
            return {"edit_component": false}
        },
        props: ["block_id", "provisional", "edit_opts_visible"], // Remember, block IDs that begin with a letter are provisional - these are not directly bound to a database. However, they are still strings in either case
        methods: {
            visibility_changed: function(isVisible, entry) {
              if (!this.loaded && isVisible) {
                  this.send_load_request()
              }
            },
            send_load_request: function() {
                this.$emit("transaction", {type: "load-block", "block_id": this.block_id});
            }
        },
        computed: {
            current_state: function() {
                return this.$store.state.view["block-" + this.block_id.toString()]
            },
            show_as_edit: function() {
                return this.provisional || this.edit_component
            },
            component_name: function() {
                if (!this.loaded) return null;
                return "kd-plugin-" + this.current_state.plugin
            },
            loaded: function() {
                return this.block_component_data != null
            },
            block_component_data: function() {
                var cur_state = this.current_state;
                if (!cur_state.loaded) return null; // Not loaded, no choice

                return {block_id: this.block_id, plugin: cur_state.plugin, show_edit: this.edit_component}
            }
        }
    }
</script>

<style lang="scss">
    .show_dotted_border {
        border: 2px dotted !important;
    }
</style>