<!--

    Koodeksi - Document TOC

    This component forms a Table of Contents list; it is placed on the left side of the page.
    It is really a quite simple component; its only function is to render a list of links or titles, and construct appropriate hash links to them.

    It will only use its props; it does not need to know about the plugin view paths


-->

<template>
    <div id="toc_panel">
    <h1>Table of Contents not yet implemented...</h1>
    </div>
</template>

<script>
    module.exports = {
        props: ["toc_data"]
    }
</script>