<template>
    <div class="single_root_element">
        <h1>Welcome back {{signed_in_title}}!</h1>
        <p>Now that you've found your way (back) to this Koodeksi instance, you can explore around. Click <a href="/content/$list">here</a> to go into the root directory list</p>
    </div>
</template>

<script>
    import * as MutationTypes from '../../../../js/document_state/mutation_types';

    function setBreadcrumbs() {
        this.$store.commit(MutationTypes.RESET_BREADCRUMBS);
        this.$store.commit(MutationTypes.UPDATE_PAGE_TITLE, "Index");
    }

    module.exports = {
        mounted: setBreadcrumbs,
        computed: {
            signed_in_title: function() {
                let user_data = this.$store.getters.user;
                if (user_data === null) return "guest"; // No user, no title.

                return ((user_data.admin === true) ? `administrator ${user_data.username}` : user_data.username);
            }
        }
    }
</script>