<!--

    Koodeksi - Sign-up

    The main signup page for Koodeksi. This has two distinct operating modes, as follows:
        - Normal users and guests get standard options: username, password, et al. They are required to fill a CAPTCHA (TODO: at some stage?)
        - Administrators gain new checkboxes: inactive and admin, which respectively alter the type of user they create. They are also exempt from a CAPTCHA.
-->

<template>
    <div class="single_root_element" id="kd_signin_box">
        <template v-if="!signup_succeeded">
        <h2>Glad you chose to join us!</h2>
        <p>Using the form on this page, you can create yourself an account, and ensure that all your personal coding achievements and works are appropriately saved and recorded to you.</p>
        <p><strong>Do remember that this site allows users intentionally to execute code. Even though precautions are taken to ensure a degree of isolation between other users, treat any data you enter here as something that may appear in public sooner or later.</strong></p>
        <p><strong>By registering an account, you agree that you have understood the warning above, and use the site at your own responsibility!</strong></p>
        <kd-misc-formbox title="Sign up to Koodeksi" form_class="standard_form" view_path="signup_form">
            <div slot="preform">
                <div class="nested_box kd_warning" v-if="user_properties.logged_in">
                    <p>
                        <strong v-if="user_properties.superuser">
                            You have administrative privileges. You can now create new administrative users in this screen.
                        </strong>
                        <strong v-else>
                            You are already signed in, and can utilize all benefits of registered users. Are you sure you want to create a new user?
                        </strong>
                    </p>
                </div>
            </div>
            <label>Username</label>
            <input v-model="username" type="text"/>
            <label>Password</label>
            <input v-model="password" type="password"/>
            <label>Confirm your password</label>
            <input v-model="confirm_password" type="password"/>
            <label>Email</label>
            <input v-model="email" type="text"/>
            <label>Confirm your email</label>
            <input v-model="confirm_email" type="text"/>
            <template v-if="user_properties.superuser === false">
                <label for="disclaimer_agree"><strong>I accept that I use the site on my own responsibility</strong></label>
                <input id="disclaimer_agree" v-model="disclaimer_agree" type="checkbox">
            </template>
            <template v-if="user_properties.superuser">
                <label for="admin"><strong>New user is an administrator</strong></label>
                <input id="admin" v-model="admin" type="checkbox">
                <label for="inactive"><strong>New user is inactive</strong></label>
                <input id="inactive" v-model="inactive" type="checkbox">
            </template>
        </kd-misc-formbox>
        </template>
        <template v-else>
            <h1>Thank you!</h1>
            <p>You have now successfully signed up. Your account is now <strong>immediately active</strong>, and you can log onto it using your newly reserved username <strong>{{username}}</strong></p>
            <p><router-link :to="{path: '/signin'}">Click here</router-link> to go to sign-in.</p>
        </template>
    </div>
</template>

<script>
    import * as MutationTypes from '../../../../js/document_state/mutation_types';

    /**
     * Initializes the form state to a known good value
     */
    function initializeFormState() {
        const data = {
            data: {
                username: "",
                confirm_password: "",
                password: "",
                confirm_email: "",
                email: "",
                disclaimer_agree: false,
                admin: false,
                inactive: false
            },
            internal: {
                signup_succeeded: false
            },
            buttons: {
                "Create account": {
                    class: "kd_approval",
                    enabled: true,
                    block_on_async: true,
                    action: {
                        path: "/json/auth/signup",
                        on_success: function(view_path, data) {
                            // Mark our signup as complete
                            window.koodeksi.vuex.commit(MutationTypes.ALTER_VIEW, {view_path: view_path, data_func: function(state) {
                                state.internal.signup_succeeded = true;
                                return undefined; // No need to call Vue.set a 2nd time
                            }});
                        }
                    }
                }
            }
        };
        this.$store.commit(MutationTypes.INITIALIZE_VIEW, {view_path: "signup_form", data: data});
        this.$store.commit(MutationTypes.RESET_BREADCRUMBS);
        this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: "Sign up", addr: "/signup"});
    }

    module.exports = {
        created: initializeFormState,
        methods: {
          getFunctionForField: function(field) {
              let _this = this;
              return function(){return _this.$store.state.view.signup_form.data[field]};
          },

          setFunctionForField: function(field) {
              let _this = this;
              return function(val) {
                  _this.$store.commit(MutationTypes.ALTER_VIEW, {view_path: "signup_form", data_func: function(view) {
                          view.data[field] = val;
                          return undefined;
                  }})
              }
          },
        },
        computed: {
            user_properties: function() {
                let user_data = this.$store.getters.user;
                let data = {superuser: false, logged_in: false};

                if (user_data === null) return data; // A guest, no privileges
                // We are logged in
                data.logged_in = true;
                data.superuser = user_data.admin;
                return data;
            }, // TODO, figure out a shorter way to do this; apparently direct function references to above cannot be done, so a shim must be used.. this still doesn't look exactly pretty, although it is somewhat better than the raw copypasting option with more fragile, moving parts
            username: {
                get: function() {return (this.getFunctionForField("username"))() },
                set: function(value) {return this.setFunctionForField("username")(value)}
            },
            confirm_password: {
                get: function() {return this.getFunctionForField("confirm_password")() },
                set: function(value) {return this.setFunctionForField("confirm_password")(value)}
            },
            password: {
                get: function() {return this.getFunctionForField("password")() },
                set: function(value) {return this.setFunctionForField("password")(value)}
            },
            confirm_email: {
                get: function() {return this.getFunctionForField("confirm_email")() },
                set: function(value) {return this.setFunctionForField("confirm_email")(value)}
            },
            email: {
                get: function() {return this.getFunctionForField("email")() },
                set: function(value) {return this.setFunctionForField("email")(value)}
            },
            disclaimer_agree: {
                get: function() {return this.getFunctionForField("disclaimer_agree")() },
                set: function(value) {return this.setFunctionForField("disclaimer_agree")(value)}
            },
            admin: {
                get: function() {return this.getFunctionForField("admin")() },
                set: function(value) {return this.setFunctionForField("admin")(value)}
            },
            inactive: {
                get: function() {return this.getFunctionForField("inactive")() },
                set: function(value) {return this.setFunctionForField("inactive")(value)}
            },
            signup_succeeded: {
                get: function() {return this.$store.state.view.signup_form.internal.signup_succeeded}
            }
        }
    }
</script>