<!--

    Koodeksi - Sign-in

    The main sign-in page for Koodeksi; the user is sent to this page if he clicks on a "Sign in" link anywhere on the homepage

-->
<template>

    <div class="single_root_element" id="kd_signin_box">
        <template v-if="signin_complete == false">
        <h2>Sign in to Koodeksi</h2>
        <p>
            To sign in, you will need an account. If you do not have one, fear not, it is easy and entirely free of charge to create one!
        </p>
        <p>
            Just go to <router-link :to="{path: '/signup'}">Sign up</router-link> to create a new account!
        </p>
        <kd-misc-formbox title="Sign in to Koodeksi" form_class="standard_form" view_path="signin_form">
            <label>Username</label>
            <input v-model="username" id="username" type="text"/>
            <label>Password</label>
            <input v-model="password" id="password" type="password"/>
        </kd-misc-formbox>
        </template>
        <template v-else>
            <h2>Thank you</h2>
            <p>You have successfully signed in. Welcome back, <strong>{{signed_in_title}}</strong>!</p>
            <p>Please <router-link :to="{path: '/'}">click here</router-link> to go to your personal front page</p>
        </template>
    </div>


</template>

<script>
    import * as MutationTypes from '../../../../js/document_state/mutation_types';

    function setBreadcrumbs() {
        this.$store.commit(MutationTypes.RESET_BREADCRUMBS);
        this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: "Sign in", addr: "/signin"});
        this.$store.commit(MutationTypes.UPDATE_PAGE_TITLE, "Sign in");
    }

    function initializeFormState() {
        const data = {
            data: {
                username: "",
                password: ""
            },
            internal: {
                signin_complete: false
            },
            buttons: {
                "Sign in": {
                    class: "kd_primary",
                    enabled: true,
                    block_on_async: true,
                    action: {
                        path: "/json/auth/login",
                        on_success: function(view_path, data) {
                            // Update our user session
                            window.koodeksi.vuex.commit(MutationTypes.UPDATE_USER_DATA, data);
                            // Update that our login just completed
                            window.koodeksi.vuex.commit(MutationTypes.ALTER_VIEW, {view_path: view_path, data_func: function(state) {
                                state.internal.signin_complete = true;
                                return undefined; // No need to call Vue.set a 2nd time
                            }});
                        }
                    }
                }
            }
        };
        this.$store.commit(MutationTypes.INITIALIZE_VIEW, {view_path: "signin_form", data: data});
        this.$store.commit(MutationTypes.RESET_BREADCRUMBS);
        this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: "Sign in", addr: "/signin"});
    }
    module.exports = {
        beforeRouteEnter (to, from, next) {
            next(vm => {
                vm.setBreadcrumbs();
            });
        },
        methods: {
            setBreadcrumbs: setBreadcrumbs,
            initializeFormState: initializeFormState
        },
        created: initializeFormState,
        computed: {
            username: {
                get: function() {
                    return this.$store.state.view.signin_form.data.username;
                },
                set: function(value) {
                    this.$store.commit(MutationTypes.ALTER_VIEW, {view_path: "signin_form", data_func: function(view) {
                        view.data.username = value;
                        return undefined;
                    }})
                }
            },
            password: {
                get: function() {
                    return this.$store.state.view.signin_form.data.password;
                },
                set: function(value) {
                    this.$store.commit(MutationTypes.ALTER_VIEW, {view_path: "signin_form", data_func: function(view) {
                        view.data.password = value;
                            return undefined;
                    }})
                }
            },
            signin_complete:function() {
                return this.$store.state.view.signin_form.internal.signin_complete;
            },
            signed_in_title: function() {
              // This function builds the precise title which should be used about an user
              let user_data = this.$store.getters.user;
              if (user_data === null) return ""; // No user, no title.

              return ((user_data.admin === true) ? `administrator ${user_data.username}` : user_data.username);
            }
        }
    };
</script>

<style lang="scss">
    #kd_signin_box {

    }
</style>