<template>
    <div class="single_root_element">
        <template v-if="working">
            <h2>Working...</h2>
            <p>Signing you out, please wait a few moments...</p>
        </template>
        <template v-else>
            <template v-if="success">
                <h2>You have successfully signed out</h2>
                <p>If you are using a shared computer, please close all Koodeksi tabs and windows to ensure that no information leaks occur.</p>
            </template>
            <template v-else>
                <h2>Manual action required</h2>
                <p>Something prevented us from clearing your session. To ensure you are logged out, please clear all cookies from this page, and close all windows.</p>
            </template>
        </template>
    </div>
</template>
<script>
    import * as MutationTypes from '../../../../js/document_state/mutation_types';

    module.exports = {
        data: function() {
            return {
                working: true,
                success: false
            }
        },
        mounted: function() {
           this.$store.commit(MutationTypes.RESET_BREADCRUMBS);
           this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: "Sign out", addr: "/signout"});
           // If we have a definite result of some kind, do nothing
           if (!this.working) return null;

           // Submit a jQuery request
            let _this = this;
           $.ajax({url: "/json/auth/logout",
                dataType: "json",
                cache: false,
                type: "post",
                headers: {
                    "x-csrf-token": window.csrf_token
                },
                error: function(jqXHR, textStatus, errorText) {
                    // Check the type of error. A timeout is reasonably normal, and should show the ordinary message
                    if (textStatus === "timeout") {
                        _this.working = false;
                    } else {
                        _this.$router.replace("/error/internalerr"); // This is something more unusual, and it may be advisable to show an internal error.
                    }
                },
                success: function(data) {
                    // Check that the returning result is OK
                    if (data["ok"] === "success") {
                        _this.$store.commit(MutationTypes.UPDATE_USER_DATA, null); // Zero out user data
                        _this.success = true;
                        _this.working = false;
                    } else {
                        // This should never fail with an unusual JSON blob; signal an internal error
                        _this.$router.replace("/error/internalerr");
                    }
                }
            })
        }
    }
</script>
