<!--

    Koodeksi - User Information Page

    A multi-use page; it can be used to simply show user information, but will also allow altering of it in certain circumstances as dictated by a preload.

-->

<template>
        <div v-if="current_error !== null">
                <kd-std_errorbox subcomponent="true" :id="current_error" reset_breadcrumbs="true"></kd-std_errorbox>
        </div>
        <div v-else-if="!valid_preload">
                <kd-misc-loadspinner id="loadspinner"></kd-misc-loadspinner>
        </div>
        <div v-else class="single_root_element" id="kd_userpage_box">
                <kd-misc-formbox :title='"User properties for " +  retrieved_preload.username + " (id " + retrieved_preload.user_id.toString() + ")"' form_class="standard_form" view_path="user_form">
                        <div slot="preform">
                                <div class="nested_box kd_danger" v-if="overriding_edit">
                                        <p>
                                                <strong>Be careful!</strong> Due to your status as an administrator of a more senior status, you are allowed to edit this user's information. Be mindful of possible consequences before committing actions.
                                        </p>
                                </div>
                                <div class="nested_box kd_warning" v-else-if="can_edit">
                                        <p>
                                                <strong>You are the owner of this account.</strong> You can change, depending on your status, at least basic options and in some cases more advanced ones as well.
                                        </p>
                                </div>
                        </div>

                        <label>Username</label>
                        <input v-model="username_vuex" id="username" type="text" :readonly="!can_edit"/>
                        <label>Email</label>
                        <input v-model="email" id="email" type="text" :readonly="!can_edit"/>
                        <label>Is administrative user</label>
                        <input v-model="is_admin" id="is_admin" type="checkbox" :disabled="!can_edit">
                        <template v-if="can_administrate">
                                <label>Is inactive user</label>
                                <input v-model="is_inactive" id="is_inactive" type="checkbox">
                                <label>Admin since</label>
                                <input v-model="sane_admin_date" id="sane_admin_date" :disabled="true">
                        </template>
                </kd-misc-formbox>
        </div>
</template>

<script>
    import * as MutationTypes from '../../../../js/document_state/mutation_types';


    function processPreloads() {
        // As like in the path trampoline, retrieve a preload
        let preload_data = this.$store.state.preload;

        if (this.retrieved_preload == null && preload_data != null) {
            this.retrieved_preload = preload_data; // Take the serverside preload
        } else if (this.retrieved_preload == null && preload_data == null) {
            // Before attempting a retrieval, check if our user ID is valid
            if (this.username == undefined || this.username == null) {
                this.current_error = "notfound"; // No username defined, not found
                return;
            }

            // Alright, we need to retrieve preloads before continuing.
            let _this = this;
            $.ajax({url: "/json/data/user_preload",
                dataType: "json",
                cache: false,
                type: "get",
                data: {"username": this.username}
            })
                .done(function(data) {
                    _this.retrieved_preload = data;
                    _this.processPreloads();
                })
                .fail(function() {
                    _this.current_error = "service_unavailable"; // We were unable to retrieve data for some reason; show service unavailable message
                });

            return; // We will call this method again once the jQuery method finishes
        }

        // Now, we apparently have some sort of preload data. Check if it is an error; if so, extract the error code and show an appropriate error message
        if (this.retrieved_preload.result != "success") {
            this.current_error = this.retrieved_preload.result;
            return;
        } else {
            let prl = this.retrieved_preload;
            // Since we now have a valid preload, initialize the formbox data structure
            let data_struct = {
                data: {
                    // We'll initialize duplicates of original data, as to not require serverside querying and comparing
                    username: prl.username,
                    username_orig: prl.username,
                    email: prl.email,
                    email_orig: prl.email,
                    is_admin: prl.is_admin,
                    is_admin_orig: prl.is_admin,
                    // These may be undefined in case there's no admin privileges
                    is_inactive: prl.inactive,
                    is_inactive_orig: prl.inactive,
                    administrative_date: prl.administrative_date
                }
            };

            this.$store.commit(MutationTypes.INITIALIZE_VIEW, {view_path: "user_form", data: data_struct});
            this.$store.commit(MutationTypes.RESET_BREADCRUMBS);
            this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: "Users"});
            this.$store.commit(MutationTypes.PUSH_BREADCRUMB, {name: this.retrieved_preload.username, addr: null});
        }
    }

    module.exports = {
        data: function() {
            return {retrieved_preload: null,
                    current_error: null}
        },
        props: ["username"],
        methods: {
            processPreloads: processPreloads,
            getFunctionForField: function(field) {
                let _this = this;
                return function(){return _this.$store.state.view.user_form.data[field]};
            },

            setFunctionForField: function(field) {
                let _this = this;
                return function(val) {
                    _this.$store.commit(MutationTypes.ALTER_VIEW, {view_path: "user_form", data_func: function(view) {
                            view.data[field] = val;
                            // We already altered what we want
                            return undefined;
                        }})
                }
            }
        },
        mounted: processPreloads,
        computed: {
            /**
             * Checks if a given preload is valid
             **/
            valid_preload: function() { // Check if a given preload is apparently valid
                return this.retrieved_preload != null && this.retrieved_preload != undefined && this.retrieved_preload.result == "success";
            },
            /**
             * Checks if we can edit an user
             **/
            can_edit: function() {
                if (!this.valid_preload) return false;
                return this.retrieved_preload.can_edit;
            },
            /**
             * Checks if our administrative date is "sane"
             **/
            sane_admin_date: function() {
              if (!this.valid_preload) return "";
              return (this.retrieved_preload.administrative_date != undefined && this.retrieved_preload.administrative_date != null) ? this.retrieved_preload.administrative_date : "None";
            },
            /**
             * Checks if we have administrative privileges over this user
             **/
            can_administrate: function() {
                if (!this.valid_preload) return false;
                return this.retrieved_preload.can_edit && this.retrieved_preload.admin_status;
            },
            /**
             * Check if we _are_ the user?
             **/
            same_user: function() {
                if (!this.valid_preload) return null;
                let user_data = this.$store.getters.user;

                if (user_data == null) return false; // Not the same user, obviously

                // Otherwise, depends on the user ID
                return user_data.uid == (this.retrieved_preload.user_id);
            },
            /**
             * Check if we should show the warning about a potentially dangerous edit operation
             **/
            overriding_edit: function() {
                return this.can_edit && !this.same_user;
            },
            /**
             * Form elements start from here
             */
            username_vuex: {
                get: function() {return (this.getFunctionForField("username"))() },
                set: function(value) {return this.setFunctionForField("username")(value)}
            },
            email: {
                get: function() {return (this.getFunctionForField("email"))() },
                set: function(value) {return this.setFunctionForField("email")(value)}
            },
            is_admin: {
                get: function() {return (this.getFunctionForField("is_admin"))() },
                set: function(value) {return this.setFunctionForField("is_admin")(value)}
            },
            is_inactive: {
                get: function() {return (this.getFunctionForField("is_inactive"))() },
                set: function(value) {return this.setFunctionForField("is_inactive")(value)}
            }
        },
        watch: {
            username: function(newVal, oldVal) {
                this.retrieved_preload = null;
                this.current_error = null;

                this.processPreloads(); // After resetting, rerun preloads
            }
        }
    }
</script>

<style lang="scss">
        #loadspinner {
                margin: auto;
                margin-top: 3rem;
        }
</style>