/* This file contains general definitions that do not belong anywhere else in general */
/* Import Font-Awesome and its icons */
$icon-font-path: "/fonts/";
@import "font-awesome";
@import "shared_defs";

body {
  background: #FFFFFF;
}

p, a, h1, h2, h3, h4 {
  font-family: $title_font;
}

p {
  margin: 0.4rem 0 0.4rem 0;
}

code {
  font-family: $code_font;
}

i { /* Ensure that Font-Awesome logs have a slight buffer to their right */
  margin-right: 0.2rem;
}

/** Define tooltips **/

.tooltip_element {
  position: relative; /* Activate relative positioning, required for a tooltip */
}

.tooltip_text {
  visibility: hidden;

  background-color: black;
  color: white;

  text-align: center;

  border-radius: 7px; /* Pixel valued border, doesn't need to scale */
  padding: 0.3rem;

  position: absolute;
  z-index: 1; /* Ensure that tooltip texts always appear on top */
  left: 50%; /* Adjust slightly to left */
  bottom: 125%; /* Buffer from bottom */

  opacity: 0; /* Normally invisible */
  transition: opacity 0.1s;
}

.tooltip_element:hover .tooltip_text {
  visibility: visible;
  opacity: 0.8;
}