/*
  This file describes various box types one may find on pages. Do note that these are all _boxes_, e.g they contain no inner distribution logic
  of any kind. It is possible you may want to place a grid in the same location for a different purpose, in which case you should look towards the
  "grids.scss" file
 */
@import "shared_defs";

$single_content_box_max_width: 60%;

/* Shared properties for page boxes */

.content_inline_box, .single_root_element {
  background: #fefefe;
}

/* Similar to a single root element box, but has no border nor a background */
.transparent_align_box {
  max-width: $single_content_box_max_width;
  min-width: 3rem;

  margin: 2rem auto 0;
  padding: 1rem 0.7rem 1rem 0.7rem;

  @media all and (max-width: $mobile_width) {
    /* Reduce space required for the box */
    max-width: 100%;
    width: 100%;
    margin: 0.2rem auto 0;
    padding: 1rem;

    border: none;
  }
}

.block_align_box {
  max-width: 100%;
  min-width: 2rem;

  margin: 0.2rem auto 0;
  padding: 0.1rem;
}

/* Generates a box which serves as a main page element, for pages with no sidebars or anything else more complicated */

.single_root_element {
  box-sizing: border-box;
  border: black solid 0.1rem;
  /* Limit the size of the box */
  max-width: $single_content_box_max_width;
  min-width: 3rem;
  /* Offset from the menu bar, and pad interior */
  margin: 2rem auto 0;
  padding: 1rem 0.7rem 1rem 0.7rem;

  @media all and (max-width: $mobile_width) {
    /* Reduce space required for the box, and remove the now unaesthetic, space-wasting border */
    max-width: 100%;
    width: 100%;
    margin: 0.2rem auto 0;
    padding: 1rem;

    border: none;
  }
}

/*
  Generates a box that is inlined with content; this practically differs from a single-root box by the fact that it will retain its border even if very small.
  It can also, optionally, have a specific title as indicated by a special class
 */

.content_inline_box {
  box-sizing: border-box;
  border: 0.15rem solid black;
  box-shadow: 0.2rem 0.2rem 0 0 gray;
  background: #FAFAFA;
  max-width: 60%;
  min-width: 20%;

  margin: 1rem auto;
  padding: 0.7rem;
  p.inline_box_title {
    border: 0.15rem solid black;
    font-size: 0.9rem;
    line-height: 0.9rem;

    width: 100%;
    box-sizing: border-box;
    margin: 0 0 1rem;

    padding: 0.3rem;
    background: darken(#0A99FF, 10);
    color: white;
    text-align: center;
  }
}

/*
  Nested box; these are to be placed inside a content-inline box, as an error message or something similar. This is why the text is center-aligned by default
 */

.nested_box {
  box-sizing: border-box;
  border: 0.15rem dashed black;
  background: #FAFAFA;
  width: 100%;
  opacity: 0.95;

  margin: auto;
  margin-top: 0.1rem;
  margin-bottom: 0.1rem;
  padding: 0.1rem 0.4rem 0.1rem 0.4rem;

  text-align: center;
}

/* Generate background coloring classes for content-inline and nested boxes */

$colors: $primary #FAFAFA, $secondary #EAEAEA, $danger #ff6b6b, $warning #efef00 $approval #98ff98;
@each $box_class in ('nested_box', 'content_inline_box') {
  @each $tuple in $colors {
    $type_class: nth($tuple, 1);
    $color: nth($tuple, 2);

    .#{$box_class}.#{$type_class} {
      background-color: $color;
    }
  }
}