/* This file declares styles for various form elements, and defines several classes to allow further style details */
@import "shared_defs";

/* Declare a list of button types; all styled buttons are assumed to have a class of some kind */

$buttons: $primary #1FC7FF true, $secondary #EFEFEF false, $approval #00B205 true, $danger #AB0000 true;

@each $tuple in $buttons {
  $base_color: nth($tuple, 2);
  $light_font: nth($tuple, 3);

  button.#{nth($tuple, 1)} {
    background-color: $base_color;
    @if $light_font {
      color: white;
    } @else {
      color: black;
    }
    border: 0.01rem dotted black;
    font-family: $title_font;
    font-weight: bold;
    box-shadow: inset 0 1rem 0.3rem -0.3rem lighten($base_color, 10%);
    padding: 0.2rem;
    text-decoration: none;
    text-shadow: 0.05rem 0.05rem 0 if($light_font, black, white);
  }

  button.#{nth($tuple, 1)}:hover {
    background-color: lighten($base_color, 10%);
  }

  button.#{nth($tuple, 1)}:disabled {
    background-color: gray;
    box-shadow: none;
    color: lighten(gray, 20%);
    text-decoration: line-through white;
    text-shadow: 0.05rem 0.05rem 0 black;
  }
}

button:active:enabled {
  position: relative;
  top: 1px;
}