/*
  This file describes various types of CSS grids used in Koodeksi
 */

@import "shared_defs";

/*
  Standard form with two columns: labels and inputs plus buttons. Is responsive: in case of a narrow width, the grid collapses into one column
 */
.standard_form {
  display: grid;
  overflow: hidden;
  grid-template-columns: 3fr 4fr;
  grid-gap: 10px;
  padding: 0.3rem;
  margin: 0.5rem;
  label {
    grid-column: 1/2;
    text-align: center;
    font-family: $title_font;
  }

  input, button {
    grid-column: 2/3;
  }

  label, input, button {
    min-width: 10%;
  }
  @media all and (max-width: $mobile_width) {
    grid-template-columns: 1fr;

    label, input, button {
      grid-column: 1/2;
    }
  }
}


/*

  A specialized grid for documents; essentially,
 */
.document_grid {
  $menubar_height: 3rem;
  $toc_width: 25rem;

  display: grid;
  grid-template-columns: $toc_width 1fr;
  grid-template-rows: 1fr;
    #toc_panel, #main_box {
      margin: 0.5rem;
    }

    #toc_panel {


      /*
        IMPORTANT - THIS DEPENDS ON THE POSITION OF THE TOP MENU BAR!
        Due to technical limitations, these cannot be automatically interlinked; so, therefore, if one changes
        "root.vue" for the top menu, this may also need to be altered
      */
      grid-column: 1;
    }

    #main_box {
      grid-column: 2;
    }
}