/*
This style file describes the styles required for the full screen initialization animation
*/

$vibr_color: #0A99FF;

.kd_init_vibration {
  margin: 100px auto;
  width: 250px;
  height: 150px;
  text-align: center;
  font-size: 15px;
}

.kd_init_vibration p {
  font-weight: 700;
}

.kd_init_vibration > div {
  background-color: $vibr_color;
  height: 100%;
  width: 6px;
  display: inline-block;

  animation: rhythmic-stretch 1.337s infinite ease-in-out;
}

.kd_init_vibration .rect1 {
  animation-delay: -1.1s;
}

.kd_init_vibration .rect2 {
  animation-delay: -1.0s;
}

.kd_init_vibration .rect3 {
  animation-delay: -0.9s;
}

.kd_init_vibration .rect4 {
  animation-delay: -0.8s;
}

.kd_init_vibration .rect5 {
  animation-delay: -0.7s;
}

@keyframes rhythmic-stretch{
  0%, 30%, 100% {
    transform: scaleY(0.4);
  }
  60% {
    transform: scaleY(1.0);
    background-color: lighten($vibr_color, 30%);
  }
}