/* This file contains various shared properties required by multiple SCSS files */

$title_font: exo, sans-serif;
$code_font: inconsolata, monospace;

$mobile_width: 699px;

/* Type classifications; these are classes to signify intended usage of some element, and mean different practical things in different contexts */

$primary: 'kd_primary';
$secondary: 'kd_secondary';
$danger: 'kd_danger';
$warning: 'kd_warning';
$approval: 'kd_approval';