/* This file contains table styling definitions */
@import "shared_defs";

table {
  border: 1px dotted;
  background: #F9F9F9;
  box-sizing: border-box;
  max-width: 60%;

  tr {
    font-family: $title_font;

    th, td {
      padding: 0.25rem;
    }

    th {
      border: 2px solid;
      padding-left: 1rem;
      padding-right: 1rem;
      font-weight: bold;
    }

    td {
      border: 0.1rem dashed black;
    }


  }
}