<!--

Koodeksi - Root Breadcrumb Menu

This file defines the main breadcrumb menu; it draws its information from the global state, and displays it appropriately when placed in the main menu bar

-->

<template>
    <div id="kd_root_breadcrumbs">
        <ul>
            <li v-for="(link,index) in links">
                <template v-if="link.addr !== undefined">
                <router-link :to="{path: link.addr}"><template v-if="index != 0"><span class="fa fa-angle-double-right" aria-hidden="true"></span>  </template>{{link.name}}</router-link>
                </template>
                <template v-else>
                    <p><template v-if="index != 0"><span class="fa fa-angle-double-right" aria-hidden="true"></span>  </template>{{link.name}}</p>
                </template>
            </li>
        </ul>
    </div>
</template>

<script>
    module.exports = {
        computed: {
            links: function() {return this.$store.getters.path_from_home}
        }
    }
</script>

<style lang="scss">
    #kd_root_breadcrumbs {
        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            padding-left: 1rem;
            padding-right: 1rem;
            li:first-child {
                a {
                    font-weight: 700;
                    font-size: 1.2rem;
                }
            }

            li {

                display: inline-block;

                span.fa {
                    padding-left: 0.3rem;
                    padding-right: 0.3rem;
                }
                a, p {
                    display: inline-block;
                    box-sizing: border-box;
                    padding: 0.2rem;
                    font-size: 0.9rem;
                    line-height: 2.5rem;
                    color: white;
                    text-decoration: none;
                    i {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        }
    }
</style>