<!--

    Koodeksi - root structure.

    This component will be placed as the root element for the app. It will be the topmost component of the Vue structure for the page.
    It will manage what view is shown (as pages will be effectively large trees of Vue components), and manage dialogs as well. It also will properly align the menu bar to the upper part of the screen, and delegate parts of it to appropriate components.

-->

<template>
    <div class="kd_root">
        <div class="kd_menubar" v-if="menu_visible">
            <div class="menu_blurb"><breadcrumbs></breadcrumbs></div>
            <div class="menu_time">
                <template v-if="user != null">
                    <p>Signed in as <router-link :to="{path: '/user/' + user.username}"><u>{{user.username}}</u></router-link>. <router-link :to="{path: '/signout'}">Sign out</router-link></p>
                </template>
                <template v-else>
                    <p>You have not signed in!</p>
                    <p><router-link :to="{path: '/signin'}">Sign in</router-link> or <router-link :to="{path: '/signup'}">sign up!</router-link></p>
                </template>
            </div>
        </div>
        <div class="kd_root_spacer"></div>
        <div class="kd_contentbox">
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    module.exports = {
        components: {
            'breadcrumbs': require("./breadcrumbs.vue")
        },
        computed: {
            page_title: function() {return this.$store.getters.page_title},
            time: function() {return this.$store.getters.current_time},
            user: function() {return this.$store.getters.user},
            menu_visible: function() {return !this.$store.state.misc.hide_top_menu;}
        }
    }
</script>

<style lang="scss">
    /*
       IMPORTANT - Document sidebar menu, for example, depends on this property to align itself properly on the viewport.
       Due to technical limitations, these cannot be directly interlinked in SCSS.
       IF YOU CHANGE THIS, ALSO CHECK OTHER DEPENDENCIES LISTED ABOVE!
     */
    $menubar_height: 3rem;
    $menubar_background: #0A99FF;

    .kd_root_spacer {
        height: $menubar_height;
        width: 100%;
        margin: 0;

        @media all and (max-width: 699px) {
         display: none;
        }
    }

    .kd_root {
        @media all and (min-width: 700px) {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;

        }

        .kd_contentbox, .kd_menubar {
            width: 100%;
        }

        .kd_menubar {
            @media all and (min-width: 700px) {
                position: fixed;
                opacity: 0.90;
                box-shadow: 0 0.1rem 0.5rem 0 black;
            }
            box-sizing: border-box;
            background: linear-gradient(76deg, $menubar_background, lighten($menubar_background, 5%));
            height: $menubar_height;
            flex: 0 0 auto;
            margin: 0;

            display: flex;
            flex-wrap: nowrap;

            @media all and (max-width: 699px) {
                flex-direction: column;
                align-items: center;
                height: auto;
            }

            .menu_blurb,.menu_time {
                margin: 0;
                padding: 0;
            }

            .menu_blurb {
                flex: 1 1 auto;
            }
            .menu_time {
                flex: 0 0 auto;
                padding: 0.3rem;
                p, a {
                    color: white;
                    text-align: center;
                    padding: 0;
                    margin: 0;
                    font-family: code-font, monospace;
                    font-weight: 700;
                    font-size: 0.7rem;
                }
            }
            .menu_title {
                flex: 1 1 auto;
                p {
                    text-align: center;
                    line-height: 3rem;
                    color: white;
                    padding: 0;
                    margin: 0;
                    font-family: code-font, monospace;
                    font-weight: 700;
                    font-size: 1.3rem;
                }
            }
        }

        .kd_contentbox {
            @media all and (max-width: 699px) {
                flex: 1 1 auto;
            }
        }
    }
</style>
